* {
	font-family: COURIER;
	font-size: 12pt;
	color: #FFFFFF;
	background-image: url("fondo.jpg");
}

h1{
 	font-size: 20pt;
 	color: #FF0000;
}

h2{
	font-size: 18pt;
	color: #FF0000;
}

#QRamon{
	text-align: center;
}

img#ramon{
	height: 300px;
	width: 700px;
}

img#ramonA{
	height: 450px;
	width: 300px;
}

.formulario{
	font-family: ARIAL;
}